@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --opacity: 1;
  --loaderBgColor: #2c2c2c;
  --loaderAnimBg: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(208,208,208,0.3) 50%, rgba(255,255,255,0) 100%);
  --colorForBefore: rgb(0, 0, 0);
  --colorForBeforePLayer: rgb(0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  overflow: hidden;
}

.maincontainer {
  display: flex;
  gap: 0.5vw;
  background-color: black;
}

.sidebar {
  width: 26vw;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  margin-top: 1vh;
  height: 98vh;
  overflow: hidden;
  border-top-right-radius: 1.5vmin;
  position: relative;
  transition: 0.5s ease width;
}

.mainwindow {
  width: 73vw;
  min-height: 100vh;
  overflow-y: auto;
  transition: 0.5s ease all;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
}

.material-symbols-outlined {
  font-variation-settings: "FILL"1, "wght"400, "GRAD"0, "opsz"24;
}

.material-symbols-outlined {
  font-size: 4vmin;
  color: #ffffff;
}

.icontext {
  color: white;
  font-weight: 700;
  font-size: 2.1vmin;
  cursor: pointer;
}

.icon {
  display: flex;
  align-items: center;
  gap: 2.5vmin;
  padding: 3.5vmin 4vmin;
}

#searchicon {
  font-size: 2.5vmin;
  padding: 0vmin 4.2vmin;
  padding-bottom: 3.5vmin;
}

#searchicon-text {
  font-weight: 800;
  color: rgb(167, 166, 166);
  cursor: pointer;
}

.sidebaruppersection {
  background-color: #121212;
  border-bottom-right-radius: 1.5vmin;
}

.sidebarlowersection {
  background-color: #121212;
  border-top-right-radius: 1.5vmin;
  margin-top: 1vmin;
}

#searchicon:hover>#searchicon-text {
  color: white;
}

#searchicons-svg {
  color: rgb(167, 166, 166);
}

#searchicon:hover>#searchicons-svg {
  color: white;
}

.sidebar span {
  cursor: pointer;
}

#libraryicon-svg {
  color: rgb(167, 166, 166);
}

#libraryicon-text {
  color: rgb(167, 166, 166);
}

#libraryicon:hover>#libraryicon-text {
  color: white;
}

#libraryicon:hover>#libraryicon-svg {
  color: white;
}

#plusiconsvg {
  margin-left: auto;
  font-size: 3vmin;
}

#plusiconsvg {
  font-variation-settings: "FILL"1, "wght"200, "GRAD"0, "opsz"24;
}

#leftarrowiconsvg {
  font-variation-settings: "FILL"1, "wght"200, "GRAD"0, "opsz"24;
}

#plusiconsvg,
#leftarrowiconsvg {
  color: rgb(167, 166, 166);
}

#leftarrowiconsvg:hover {
  color: white;
  background-color: rgb(41, 41, 41);
  text-align: center;
  padding: 0;
  border-radius: 50vmin;
}

#plusiconsvg:hover {
  color: white;
  background-color: rgb(41, 41, 41);
  text-align: center;
  padding: 0;
  border-radius: 50vmin;
}

.playlisttag {
  color: white;
  font-size: 2vmin;
  font-weight: 600;

  background-color: hsla(0, 0%, 100%, 0.1);
  padding: 0.7vmin 2vmin;
  border-radius: 50vmin;
}

.artisttag {
  color: white;
  font-size: 2vmin;
  font-weight: 600;
  background-color: hsla(0, 100%, 100%, 0.1);
  padding: 0.7vmin 2vmin;
  border-radius: 50vmin;
}

.recenticon-text {
  color: rgb(167, 166, 166);
  font-weight: 600;
  font-size: 2vmin;
}

#recenticon-svg {
  color: rgb(167, 166, 166);
  font-size: 3vmin;
}

#recenticon-svg {
  font-variation-settings: "FILL"1, "wght"200, "GRAD"0, "opsz"24;
}

#recenticon {
  margin-top: 1vmin;
}

.material-symbols-outlined {
  font-size: 3vmin;
}

#plusiconsvg {
  margin-left: auto;
  font-size: 4vmin;
}

#leftarrowiconsvg {
  font-size: 4vmin;
}

.recenticon-cont {
  display: flex;
  gap: 2vmin;
  margin-left: auto;
  cursor: pointer;
}

.recenticon-cont:hover {
  scale: 1.1;
  color: white;
}

.recenticon-cont:hover>.recenticon-text {
  color: white;
}

.recenticon-cont:hover>#recenticon-svg {
  color: white;
}

#searchicons-svg2 {
  color: rgb(167, 166, 166);
  position: relative;
  padding: 0 0.5vmin;
  padding-top: 0.5vmin;
  padding-bottom: 0.2vmin;
}

#searchicons-svg2::before {
  content: "Search in your library";
  background-color: rgb(32, 32, 32);
  position: absolute;
  height: 3vmin;
  width: 20vmin;
  font-family: "Nuinto", sans-serif;
  font-size: 2vmin;
  bottom: 220%;
  text-align: center;
  line-height: -5vmin;
  padding: 0 1vmin;
  padding-top: 1vmin;
  border-radius: 1vmin;
  color: #ffffff;
  font-weight: 500;
  opacity: 0;
  pointer-events: none;
  scale: 0;
  transition: all 0.2s ease;
}

#searchicons-svg2:hover {
  color: white;
  border-radius: 20vmin;
  background-color: rgb(44, 44, 44);
}

#searchicons-svg2:hover::before {
  opacity: 1;
  scale: 1;
}

#searchicons-svg2::after {
  content: "Search in your library";
  background-color: rgb(53, 53, 53);
  position: absolute;
  height: 3vmin;
  width: 20vmin;
  font-family: "Nuinto", sans-serif;
  font-size: 2vmin;
  top: 220%;
  text-align: center;
  line-height: -5vmin;
  padding: 0 1vmin;
  padding-top: 1vmin;
  border-radius: 1vmin;
  color: #ffffff;
  font-weight: 500;
  opacity: 0;
  pointer-events: none;
  scale: 0;
  transition: all 0.2s ease;
}

button {
  background-color: hsla(0, 0%, 10%, 0.01);
  border: none;
}

#searchtextfeild {
  height: 3vmin;
  background-color: hsla(0, 0%, 100%, 0.1);
  border: none;
  padding: 0.5vmin 0.5vmin;
  padding-right: 0;
  width: 20vmin;
  color: #ffffff;
  font-size: 1.8vmin;
  display: none;
}

form {
  display: flex;
}

#crossicon-svg {
  color: rgb(167, 166, 166);
  position: relative;
  padding: 0 0.5vmin;
  padding-top: 0.5vmin;
  padding-bottom: 0.2vmin;
  background-color: hsla(0, 0%, 100%, 0.1);
  border-top-right-radius: 0.5vmin;
  border-bottom-right-radius: 0.5vmin;
  display: none;
}

#searchtextfeild:focus {
  border: none;
  outline: none;
}

#searchtextfeild::placeholder {
  color: #838383;
  font-weight: 600;
}

.buttonclicked {
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 0;
  border-top-left-radius: 0.5vmin;
  border-bottom-left-radius: 0.5vmin;
}

#crossicontag-svg {
  color: rgb(167, 166, 166);
  font-weight: 300;
  padding: 0.7vmin 0.7vmin;
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 50vmin;
  display: none;
}

.tagcontainer {
  display: flex;
  align-items: center;
  margin-left: 4vmin;
  gap: 1vmin;
}

.artisttagclicked {
  background-color: white;
  color: black;
}

.playlisttagclicked {
  background-color: white;
  color: black;
}

.playlistsideblock1 {
  display: flex;
  color: white;
  gap: 2vmin;
  margin-left: 3vmin;
  padding: 1vmin;
  width: 88%;
  border-radius: 1vmin;
  cursor: pointer;
  align-items: center;
  transition: opacity 0.4s ease;
}

.playlist-thumb {
  height: 6vmin;

  border-radius: 0.5vmin;
}

.playlistname {
  font-size: 2vmin;
}

.thumbnaillabel {
  font-size: 1.8vmin;
  margin-top: 0.5vmin;
  color: rgb(167, 166, 166);
  font-weight: 600;
 
}

.artistsideblock1 {
  display: flex;
  color: white;
  gap: 2.5vmin;
  margin-left: 3vmin;
  margin-top: 0vmin;
  padding: 1vmin;
  width: 88%;
  border-radius: 1vmin;
  cursor: pointer;
  opacity: 1;
  align-items: center;
  transition: opacity 0.4s ease;
}

.artistname {
  font-size: 2vmin;
}

.artistsideblock1:hover {
  background-color: hsla(0, 0%, 43%, 0.1);
}

.playlistsideblock1:hover {
  background-color: hsla(0, 0%, 43%, 0.1);
}

.artistsideblock1 img {
  border-radius: 5vmin;
  height: 6vmin;
  width: 6vmin;
  object-fit: cover;
  object-position: center top;
}

.playlistblockactive {
  background-color: hsla(0, 0%, 83%, 0.1);
}

.defaultlistings {
  height: 55vh;
  height: 37vh;
  overflow: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
  position: relative;
}


.mainwindow {
  background: linear-gradient(to top, rgba(18, 18, 18, 1) 40%, rgb(32, 32, 32));

  margin-top: 1vh;
  height: 99vh;
  border-top-left-radius: 1.5vmin;
  border-top-right-radius: 1.5vmin;
  padding-bottom: 3vh;
}

nav {
  padding-top: 3.5vmin;
  padding-left: 3%;
  padding-bottom: 3.5vmin;
  color: white;
  font-size: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:95%;
  height:10vw;
}

#bell-icon {
  font-variation-settings: "FILL"0, "wght"300, "GRAD"0, "opsz"24;
  /* margin-left: 1.5vw; */
  background-color: #1212128c;
  border-radius: 5vmin;
  padding: 0.7vmin;
}

#chev {
  font-variation-settings: "FILL"0, "wght"300, "GRAD"0, "opsz"24;
  background-color: #121212bd;
  border-radius: 5vmin;
  padding: 0.7vmin;
  margin-left: 0.5vw;
  cursor: pointer;
  pointer-events: all;
  background-color: #12121286;
  color: rgba(255, 255, 255, 0.425);
}

nav img {
  height: 1.8vw;
  border: 3px solid #1212128c;
  border-radius: 5vmin;
  /* margin-left: 1.5vw; */
}

#followme {
  /* margin-left: 51.4vw; */
  padding: 1vmin 1.5vmin;
  background-color: #ffffff;
  border-radius: 54vmin;
  font-weight: 900;
  font-size: 1.5vmin;
  color: black;
}

#chev1 {
  font-variation-settings: "FILL"0, "wght"300, "GRAD"0, "opsz"24;
  background-color: #12121279;
  border-radius: 5vmin;
  padding: 0.7vmin;
  color: rgb(255, 255, 255);
  cursor: pointer;
  pointer-events: all;
}

.musictag,
.alltag,
.playlisttag {
  color: white;
  font-size: 2vmin;
  font-weight: 600;
  background-color: #12121262;
  padding: 0.7vmin 2vmin;
  border-radius: 50vmin;
}

.alltag {
  background-color: white;
  color: black;
}

.musictagclicked {
  background-color: white;
  color: black;
}

#playlisttag1 {
  color: white;
  font-size: 2vmin;
  font-weight: 600;
  background-color: hsla(0, 0%, 100%, 0.1);
  padding: 0.7vmin 2vmin;
  border-radius: 50vmin;
}

.tagcontainer2 {
  display: flex;
  align-items: center;
  margin-left: 4vmin;
  gap: 1vmin;
}

#libraryicon {
  position: relative;
 
}
.wrapper2ndInNav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1.5vw;
}

#libraryicon::before {
  content: "Collapse your library";
  background-color: rgb(66, 66, 66);
  position: fixed;
  height: 3vmin;
  width: 20vmin;
  font-family: "Nuinto", sans-serif;
  font-size: 2vmin;
  top: 22%;
  left: 5%;
  text-align: center;
  line-height: -5vmin;
  padding: 0 1vmin;
  padding-top: 1vmin;
  border-radius: 1vmin;
  color: #ffffff;
  font-weight: 500;
  opacity: 0;
  pointer-events: none;
  scale: 0;
  transition: all 0.2s ease;
  z-index:3;
}

#libraryicon:hover::before {
  scale: 1;
  opacity: 1;
}

.failedtosearch {
  position: absolute;
  background-color: #83838300;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 1vmin;
  display: none;
}

.failedtosearch h3 {
  font-weight: 700;
}

.failedtosearch p {
  font-weight: 400;
  font-size: 2vmin;
  margin-bottom:10vh;
}

.uppersection1-mainwindow {
  display: flex;
  justify-content: center;
  gap: 1vw;
  padding: 3vmin 3.5vmin;
  padding-bottom: 0;
}

.uppersection2-mainwindow {
  display: flex;
  justify-content: center;
  gap: 1vw;
  padding: 3vmin 3.5vmin;
  padding-top: 1vmin;
}

.uppercard {
  height: 3vw;
  width: 33%;
  background-color: #ffffff18;
  border-radius: 0.3vw;
  overflow: hidden;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5vw;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}

.main-window-playlist-thumb {
  height: 3vw;
}

#playicon {
  position: absolute;
  right: 3%;
  background-color: #1fdf64;
  /* display: flex;
 justify-content: center;
 align-items: center; */
  color: #121212;
  border-radius: 100%;
  font-size: 3.5vmin;
  opacity: 0;
  pointer-events: none;
  transition: all ease 0.1s;
  padding: 0.2vw 0.2vw;
  box-shadow: 0px 10px 30px -5px rgb(0, 0, 0);
}

.uppercard:hover {
  background-color: #ffffff36;
}

.uppercard {
  font-size: 0.8vw;
}

.uppercard:hover #playicon {
  opacity: 1;
  pointer-events: all;
}

.songcontainer1 {
  display: flex;
  gap: 2vw;
  /* flex-wrap:wrap; */
  overflow-x:scroll;
  padding: 3vh 1.5vw;
  justify-content: flex-start;
}

.songCard {
  height: fit-content;
  width: fit-content;
  background-color: #171717;
  color: white;
  padding: 2.3vh 1vw;
  padding-bottom: 3vh;
  border-radius: 0.6vw;
  /* transition: all 1s ease; */
  cursor: pointer;
  position: relative;

}

.cardImage {
  height: 10vw;
  width: 10vw;
  border-radius: 0.6vw;
  transition: all 1s ease;
  object-fit: cover;
}

.songDescription {
  margin-top: 0.8vh;
  font-size: 0.9vw;
  width: 10vw;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.582);
  transition: all 0.54s ease;
}

.songName {
  font-weight: 700;
  margin-top: 1vh;
  width: 9vw;
  white-space: nowrap;
}

.mainNav {
  width: 73vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
  color: white;
  font-size: 1vw;
  display: flex;
  justify-content: flex-start;
  position: sticky;
  z-index: 2;
  padding-bottom: 2vh;
  top: 0;
  box-sizing: border-box;
  transition: background-color 0.2s ease;
}

.tagcontainer2 {
  justify-content: flex-start;
  padding: 0;
}

.mainwindow h3 {
  display: inline-block;
  margin-top: 2vh;
  padding-left: 3.5vmin;
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.05rem;
  cursor: pointer;
}

.mainwindow h3:hover {
  text-decoration: underline;
}

.songCard:hover {
  background-color: #333333;
}

#collapsedSong {
  display: initial;
}

#cardplayicon {
  position: absolute;
  bottom: 31.5%;
  right: 8%;
  background-color: #1fdf64;
  /* display: flex;
 justify-content: center;
 align-items: center; */
  color: #121212;
  border-radius: 100%;
  font-size: 4vmin;
  opacity: 0;
  pointer-events: none;
  transition: all ease 0.1s;
  padding: 0.2vw 0.2vw;
  box-shadow: 0px 10px 30px -5px rgb(0, 0, 0);
}

.songCard:hover #cardplayicon {
  opacity: 1;
  pointer-events: all;
  z-index: 2;
}
.songCard:hover .coverafter::before {
  background-image: linear-gradient(to left, #333333 -1%, transparent);
}
.songCard:hover .songDescriptionCont::before{
  background-image: linear-gradient(to bottom, #333333 -1%, transparent);
}
.songCard:hover .songDescriptionCont::after{
  background-image: linear-gradient(to top, #333333 -1%, transparent);
}

.musicBar {
  width: 100vw;
  background-color: #000000;
  box-sizing: padding-box;
  position: fixed;
  z-index: 4;
  bottom: 0;
  height: 11vh;
  display: flex;
  justify-content: center;
}

.currentSong {
  width: 30%;
  height: 100%;

  padding-left: 1%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8vw;
}

.controls {
  width: 40%;
}

.sideControls {
  width: 30%;
}

.currentMusic-Player {
  background-color: #ffffff00;
  border-radius: 0.3vw;
  overflow: hidden;
  color: white;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

.currentMusic-Player p {
  font-weight: 600;
  font-size: 0.8rem;
  color: rgb(173, 173, 173);
}

.currentSong img {
  height: 3.5vw;
  border-radius: 10%;
}

#likeicon {
  margin-left: 2%;
  color: #1fdf64;
}

#controlicon-play {
  font-size: 2.3rem;
  transition: 0.1s ease all;
}

#controlicon-next {
  font-size: 1.8rem;
  font-variation-settings: "FILL"1, "wght"300, "GRAD"0, "opsz"24;
}

#controlicon-prev {
  font-size: 1.8rem;
  font-variation-settings: "FILL"1, "wght"300, "GRAD"0, "opsz"24;
}

#controlicon-loop {
  font-size: 1.4rem;
  font-variation-settings: "FILL"1, "wght"100, "GRAD"0, "opsz"24;
}

#controlicon-shuffle {
  font-size: 1.4rem;
  font-variation-settings: "FILL"1, "wght"100, "GRAD"0, "opsz"24;
}

.mainControls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.progressBar {
  background-color: #4e4c4c;
  height: 0.5vh;
  width: 90%;
  position: relative;
  border-radius: 2vw;
  cursor: pointer;
}

.progressBarFill {
  background-color: white;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  left: 0;
  top: 0;
  width: 0;

  flex-wrap: nowrap;
  height: 100%;
  border-radius: 2vw;
}

.centerControls {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  font-size: 0.8rem;
  font-weight: 100;
}

#sideControls-veiw {
  font-size: 1.6rem;
  font-variation-settings: "FILL"0, "wght"200, "GRAD"0, "opsz"24;
}

#sideControls-sound {
  font-size: 2rem;
  font-variation-settings: "FILL"1, "wght"100, "GRAD"0, "opsz"24;
}

.volumeBar {
  background-color: #4e4c4c;
  height: 0.5vh;
  width: 25%;
  position: relative;
  border-radius: 2vw;
  cursor: pointer;
  /* overflow-x:hidden ; */
}

.volumeBarFill {
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 2vw;
  height: 100%;
  width: 50%;
}

.sideControls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5vw;
  padding-right: 1%;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5vh;
}

#volumebarBullet {
  height: 0.9vw;
  border-radius: 100%;
  width: 0.9vw;
  flex-shrink: 0;
  background-color: white;

  opacity: 0;
  pointer-events: none;
}

#progressbarBullet {
  border-radius: 100%;
  background-color: white;
  flex-shrink: 0;
  opacity: 0;
  pointer-events: none;
  height: 0.9vw;
  width: 0.9vw;
  position: relative;
  z-index: 1;
  box-shadow: -3px 0px 10px -3px black;
}

.volumeBar:hover .volumeBarFill {
  background-color: #1fdf64;
}

.centerControls:hover .progressBarFill {
  background-color: #1fdf64;
}

.volumeBar:hover #volumebarBullet {
  opacity: 1;
}

.centerControls:hover #progressbarBullet {
  opacity: 1;
}

#controlicon-play:active {
  scale: 1.1;
}

.pbarTargetArea {
  position: absolute;
  z-index: 5;
  height: 400%;
  width: 100%;
  left: 0;
  top: -150%;
  background-color: #92949200;
}

.vbarTargetArea {
  position: absolute;
  z-index: 5;
  height: 400%;
  width: 100%;
  left: 0;
  top: -150%;
  background-color: #92949200;
}

#sideControls-sound {
  font-variation-settings: "fill"1, "wght"200;
  transition: all ease 0.2s;
}

#controlicon-prev,
#controlicon-next {
  color: rgb(172, 172, 172);
}

#controlicon-next:hover {
  color: white;
  scale: 1.1;
}

#controlicon-prev:hover {
  color: white;
  scale: 1.1;
}

#controlicon-prev:active {
  scale: 1.2;
}

#controlicon-next:active {
  scale: 1.2;
}

#sideControls-sound:hover {
  scale: 1.2;
}

#controlicon-shuffle {
  color: #116e33;
  font-variation-settings: "wght"300;
}

#controlicon-loop:hover {
  color: white;
  font-variation-settings: "wght"250;
}

#controlicon-loop:active {
  scale: 1.2;
}

* {
  pointer-events: all;
  opacity: 1;
}

body {
  pointer-events: all;
  opacity: 1;
}

.maincontainer,
.mainwindow,
.sidebar,
.defaultlistings {
  pointer-events: all;
  opacity: 1;
}

::-webkit-scrollbar {
  pointer-events: all;
}

/*<--loader Styling bellow-->*/

.sidebar {
  position: relative;
}

.mainwindow {
  position: relative;
}

.loadingSideBar {
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: #121212;
  z-index: 1;
  padding: 2vh 2vw;
  overflow-x: scroll;
}

.loadingElSidebar {
  height: 4vh;
  width: 80%;
  background-color: var(--loaderBgColor);
  border-radius: 1vw;
  margin-top: 5vh;
}

.loadingElSidebar1 {
  height: 4vh;
  width: 60%;
  background-color: var(--loaderBgColor);
  border-radius: 1vw;
  margin-top: 5vh;

  position: absolute;
  overflow: hidden;
}

.loadingElSidebar2 {
  overflow: hidden;
  height: 4vh;
  width: 40%;
  background-color: var(--loaderBgColor);
  border-radius: 1vw;
  z-index: 10;
  position: absolute;
  margin-top: 12vh;
}

.loadingMainWindow {
  width: 100%;
  position: absolute;
  height: fit-content;
  background-color: #121212;
  z-index: 3;
  padding: 2vh 2vw;
  padding-bottom: 12vh;
}

.loadingNav {
  top: 0;
  position: fixed;
  height: 20vh;
  width: 100%;
  background-color: #121212;
  z-index: 4;
}

.loadingElMainwindow {
  height: 4vh;
  width: 80%;
  background-color: var(--loaderBgColor);
  border-radius: 1vw;
  margin-top: 5vh;
}

.loadingElMainwindowCardCont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1vw;
  margin-top: 5vh;
}

.loadingElCard {
  height: 25vh;
  width: 10vw;
  background-color: var(--loaderBgColor);
  border-radius: 0.8vw;
}

.loadingElMusicbar {
  display: flex;
  gap: 5vw;
  justify-content: flex-start;
  align-items: center;
  padding: 0 5vw;
  height: 100%;
  width: 100%;
}

.loadingMusicbarEl {
  height: 4vh;
  width: 10vw;
  background-color: var(--loaderBgColor);
  border-radius: 1vw;
}

.loadingElMusicbar div:nth-last-child(2) {
  width: 60%;
}

.loadingElSidebar {
  position: relative;
  overflow: hidden;
}

.loadingElSidebar::after {
  content: "";
  top: 0;
  left: -90%;
  position: absolute;
  height: 200%;
  width: 100%;
  transform: rotateZ(-60deg);

  background-image: var(--loaderAnimBg);

  animation: anim 1s cubic-bezier(0, 0, 0, 1) infinite forwards;
}

@keyframes anim {
  0% {
    left: -90%;
  }

  100% {
    left: 100%;
  }
}

.loadingElSidebar1::before {
  content: "";
  top: 0;
  left: -90%;
  position: absolute;
  height: 500%;
  width: 100%;
  transform: rotateZ(-60deg);

  background-image: var(--loaderAnimBg);

  animation: anim 1.5s ease infinite forwards;
}

.loadingElSidebar2::before {
  content: "";
  top: 0;
  left: -90%;
  position: absolute;
  height: 500%;
  width: 100%;
  transform: rotateZ(-60deg);

  background-image: var(--loaderAnimBg);

  animation: anim 1.5s ease infinite forwards;
}

.loadingElMainwindow {
  position: relative;
  overflow: hidden;
}

.loadingElMainwindow::before {
  content: "";
  top: 0;
  left: -90%;
  position: absolute;
  height: 200%;
  width: 100%;
  transform: rotateZ(-60deg);

  background-image: var(--loaderAnimBg);

  animation: anim 1s cubic-bezier(0, 0, 0, 1) infinite forwards;
}

.loadingElCard {
  position: relative;
  overflow: hidden;
}

.loadingElCard::before {
  content: "";
  top: -73%;
  left: -120%;
  position: absolute;
  height: 400%;
  width: 44%;
  transform: rotateZ(30deg);
  background-image: var(--loaderAnimBg);
  animation: 0.8s ease 0s infinite normal forwards running anim;
}

.loadingMusicbarEl {
  position: relative;
  overflow: hidden;
}

.loadingMusicbarEl::after {
  content: "";
  top: 0;
  left: -90%;
  position: absolute;
  height: 100%;
  width: 100%;
  transform: rotateZ(-60deg);

  background-image: var(--loaderAnimBg);

  animation: anim 1s cubic-bezier(0, 0, 0, 1) infinite backwards 0.5s;
}

.loadingElMusicbar div:nth-last-child(2)::after {
  height: 600%;
  animation: anim 1.5s ease infinite backwards 0s;
}

/*<---Music Bar Styling--->*/

.bars {
  align-items: flex-end;
  justify-content: flex-start;
  display: flex;
  gap: 0.1vw;
  height: 1vw;
  display: none;
  padding: 0 0.27vw;
}

.bars__item {
  animation: play 1s ease-out infinite;
  background-image: linear-gradient(to top, #1ed760, #1eff00);
  height: 100%;
  width: 0.2vw;
}

.bars__item:nth-child(1) {
  animation-delay: 0s;
}

.bars__item:nth-child(2) {
  animation-delay: 0.5s;
}

.bars__item:nth-child(3) {
  animation-delay: 0.2s;
}

.bars__item:nth-child(4) {
  animation-delay: 0.75s;
}

@keyframes play {
  0% {
    height: 10%;
  }

  25% {
    height: 75%;
  }

  50% {
    height: 50%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 10%;
  }
}

/*<---Now Playing View Styling--->*/

.nowPlayingVeiw {
  position: absolute;
  background-color: #121212;
  height: 100vh;
  width: 20vw;
  right: 0;
  z-index: 3;
  padding: 1.5vw 1.5vw;
  color: #ffffff;
  overflow-y: hidden;
  transform: translate(0, 100%);
  transition: 0.2s ease all;
  text-align: center;
  margin-top: 1vh;
    border-top-left-radius: 1.5vmin;
}

.nowPlayingVeiw img {
  width: 100%;
  border-radius: 1vw;
  height: 19.4vw;
  object-fit: cover;
}

.nowPlayingSongName {
  font-size: 1.5vw;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  text-align: left;
}

.nowPlayingSongArtist {
  color: rgb(170, 170, 170);
  font-size: 1vw;
  font-weight: 700;
  text-align: left;

  position: relative;
}

.nowPlayingVeiw h3 {
  margin-bottom: 1vw;

}

.textForSong {
  color: white;
}

.inQueueSongs {
  margin-top: 4vh;
  margin-bottom: 15vh;
  height:31%;
  text-align: left;
  overflow: scroll;
}
.inQueueSongs::-webkit-scrollbar {
  display: none;
}

.inQueueSong1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1vw;
  padding: 1vw;
  border: 2px solid rgba(128, 128, 128, 0.329);
  border-radius: 1vw;
  margin-bottom: 1vh;
  overflow: hidden;
  position: relative;
}

.inQueueSong1 img {
  height: 3vw;
  width: 3vw;
  border-radius: 0.5vw;
}

.queueSongName {
  font-size: 0.9vw;
  font-weight: 600;
}

.queueSongArtist {
  font-size: 0.9vw;
  font-weight: 500;
  color: rgb(165, 165, 165);
}

.inQueueSong1 p {
  overflow: hidden;
  white-space: nowrap;
}

.inQueueSong1::after {
  content: "";
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  width: 27%;
  background-image: linear-gradient(to left, #121212 25%, transparent);
}

.nowPlayingSongName::after {
  content: "";
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  width: 27%;
  background-image: linear-gradient(to left, #121212 25%, transparent);
}

.inQueueSong1 span {
  font-size: 1.6vw;
}

.nowplayingHeader {
  display: flex;
  justify-content: space-between;
}

.nowplayingHeader span {
  padding: 0.2vw;

  height: fit-content;
  border-radius: 1vw;
}

.nowplayingHeader span:hover {
  background-color: #ffffff13;
}

#sideControls-veiw {
  color: rgb(128, 128, 128);
  position: relative;
}

#sideControls-veiw:hover {
  color: rgb(255, 255, 255);
  scale: 1.1;
}

.NowPlayingVeiwBtn::before {
  content: "";
  position: absolute;
  bottom: -20%;
  left: 40%;

  background-color: #1ed760;
  height: 20%;
  width: 20%;
  border-radius: 1vw;
}

#controlicon-play {
  font-variation-settings: "FILL"1, "wght"700, "GRAD"0, "opsz"24;
}

#sideControls-sound::before {
  color: white;
  font-size: 2vh;
}

#sideControls-sound {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 2rem;
  padding: 0;
  padding-top: 3.5vmin;
  padding-left: 4vmin;
}

#homeicon {
  padding-top: 2vmin;
}

.mainControls span {
  cursor: pointer;
}

.sideControls span {
  cursor: pointer;
}


.material-symbols-rounded {
  color:white;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
#homeicon-svg,#searchicons-svg{
  transition: all .2s ease-in;

}
.icontext{
  transition: all .2s ease-in;
}




.wrapperForSearchBar-Chev{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1.5vw;
}
.mainSearchBarCont{
  display:flex;
  justify-content: center;
  align-items: center;
  display:none;
}
#mainSearchBar{
  padding:1.01vw 0;
  width:15vw;
  font-size:0.8vw;
  background-color: #2A2A2A;
  outline:none;
  border: none;
  color:white;
  border-bottom:1px solid rgba(255, 255, 255,0);
  border-top:1px solid rgba(255, 255, 255,0);
}
#mainSearchBar::placeholder{
  font-size:1vw;
  
}
#mainSearchBtn{
  color:rgba(255, 255, 255, 0.459);
  padding:1vw;
 border-top-left-radius: 5vw;
 border-bottom-left-radius: 5vw;
  background-color: #2A2A2A;
  font-size:1vw;
  border:1px solid rgba(255, 255, 255,0);
}
#mainSearchCancelBtn{
  color:rgba(255, 255, 255, 0);
  padding:0.8vw;
  border-top-right-radius: 5vw;
 border-bottom-right-radius: 5vw;
  background-color: #2A2A2A;
font-size:1.4vw;
  border:1px solid rgba(255, 255, 255,0);
  cursor: pointer;
 
}
.mainSearchBarCont:hover #mainSearchBar{
  border-bottom:1px solid rgba(255, 255, 255,0.2);
  border-top:1px solid rgba(255, 255, 255, 0.2);
  background-color: #2e2e2e;
}
.mainSearchBarCont:hover #mainSearchCancelBtn{
  border:1px solid rgba(255, 255, 255,0.2);
  border-left:0px solid rgba(255, 255, 255,0.2);
  background-color: #2e2e2e;
 
}.mainSearchBarCont:hover #mainSearchBtn{
  border:1px solid rgba(255, 255, 255,0.2);
  border-right:0px solid rgba(255, 255, 255,0.2);
  background-color: #2e2e2e;
  color:white;
  
}
.mainwindow-search-default{
  padding-bottom:7vw;
}
.defaultCardRows {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2vw;
  margin-left: 2vw;
  margin-right: 2vw;
  overflow: auto;
  position:relative;
  margin-top:2vw;
}


.defaultCardRows::-webkit-scrollbar{
display:none;
}

.defaultCard{
  background-color:#DC148C;
  height:12vw;
  width:12vw;
  border-radius:1vw;
  flex-shrink:0;
  position: relative;
  overflow: hidden;
}
.defaultCard-img
{
  position: absolute;
  height:6vw;
  width:6vw;
  right:-10%;
  top:50%;
  background-size: cover;
  transform: rotateZ(25deg);
}
.defaultCard-label{
  font-size:1.5vw;
  color:white;
  font-weight:700;
  margin:1vw;
}
.search-songCard{
  display: flex;
  justify-content: space-between;
  align-items:center;
  width:93%;
  height:7%;
  background-color: #15ff5b01;
  margin:0.5vw auto;
  padding:1vw;
  border-radius :0.5vw;
  cursor: pointer;
  border:1px solid rgba(255, 255, 255, 0.199);
}
#search-songCardImg{
  height:100%; 
}
.mainwindow-search-results::-webkit-scrollbar {
  display: none;
}
.searchSongImgCont{
  height:3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width:3vw;
  margin: auto 0;
  border-radius :0.5vw;
  background-size: cover;
  position: relative;
  
}
.searchSongImgCont #nowPlayingPlayIcon{
      opacity:0;
}
.search-songCardText{
  margin-left:1vw;
}
.result-songName
,.result-songArtists{
  color:white;
  font-weight:500;
  font-size:1vw;
}
.result-songArtists{
  font-size:calc(1.4vw/1.689);
  color:rgba(255, 255, 255, 0.656);
}
.search-songCardAlbum{
  font-size:calc(1.4vw/1.689);
  color:rgba(255, 255, 255, 0.656);
  width:20%;
  text-align: right;
}
.labelsForResultsCont {
  display: flex;
  width: 93%;
  justify-content: space-between;
  padding: 0.5vw 3%;
  margin: 1vw auto;
  font-size: calc(1.6vw / 1.689);
  color: rgba(255, 255, 255, 1);
  background-color: #1D1D1D;
  border-bottom: solid rgba(255, 255, 255, 0.24) 1px;
  position: sticky;
  top: -1%;
  z-index: 2;
}
.mainwindow-search-results{
  display:none;
  position:relative;
  height:70vh;
  overflow:scroll;
}
.result-songDur{
  margin-right:15%;
  color: rgba(255, 255, 255, 0.656);
  font-size: calc(1.4vw / 1.689);
}
.search-songCard:hover{
  background-color: #4e4c4c77;
}
.searchSongImgCont::before{
  content:'';
  position:absolute ;
  height:100%;
  width:100%;
  background-color:transparent;
  z-index:1;
  border-radius:0.5vw;
  top:0;
  left:0;
}
.search-songCard:hover .searchSongImgCont::before{
  background-color:rgba(0,0,0,0.5);
}
 .searchSongImgContCrr::before{
  background-color:rgba(0,0,0,0.5);
}

.search-songCard:hover #nowPlayingPlayIcon{
  opacity: 1;
  position: relative;
  z-index: 2;
}
.contForSongDetails{display: flex;width:33%;align-items: center;} 
.songcontainer1::-webkit-scrollbar {
  display: none;
}
.coverafter::before{
  content: "";
  right: 0;
  top: 0;
  background-image: linear-gradient(to left, #171717 -1%, transparent);
  height: 100%;
  width: 40%;
  position: absolute;
  z-index: 1;
}
.songDescriptionCont{
  position: relative;
  width: 9vw;
  height:3vw;
  overflow: hidden;
}
.songDescriptionCont::before{
  content: "";
  right: 0;
  top: 0;
  background-image: linear-gradient(to bottom, #171717 -1%, transparent);
  height: 25%;
  width: 100%;
  position: absolute;
  z-index: 1;
  display:var(--display);
}

.songDescriptionCont::after{
  content: "";
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to top, #171717 -1%, transparent);
  height: 25%;
  width: 100%;
  position: absolute;
  z-index: 1;
  display:var(--display);
}
@keyframes scroll {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  50% {
    transform: translate(-50%, 0);
    opacity: 1;
  }

  51% {
    opacity: 0;
  }

  55% {
    transform: translate(0, 0);
  }

  58% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }
}
@keyframes scrollInv {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  50% {
    transform: translate(0, -50%);
    opacity: 1;
  }

  51% {
    opacity: 0;
  }

  55% {
    transform: translate(0, 0);
  }

  58% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }
}
.mainwindow .songcontainer1:last-child {
  margin-bottom: 9vh;
}
.tippy-box{
  background-color: #0d72ea;
  padding:0;
  border-radius: 1vw;
}
.tippy-arrow::before{
color: #0d72ea;
left:10%;

}
.tippy-arrow{
  left:8%;
}
/*<---media queries-->*/
@media (max-width: 740px) {
  * {
    -webkit-tap-highlight-color: transparent;
  }

  .sidebar {
    display: none;
  }

  nav {
    display: none;
  }

  .tagcontainer {
    display: none;
  }

  .tagcontainer2 {
    display: none;
  }

  .uppersection1-mainwindow {
    display: none;
  }

  .uppersection2-mainwindow {
    display: none;
  }

  .mainNav {
    display: none;
  }

  .musicBar {
    display: none;
  }

  .songcontainer1::-webkit-scrollbar {
    display: none;
  }

  .mainwindow::-webkit-scrollbar {
    display: none;
  }

  .songDescription::-webkit-scrollbar {
    display: none;
  }

  .mainwindow {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

    padding: 4vw 0vw;
    background-color: #080808;
    margin-bottom: 10vh;
    margin-top: 0;
  }

  .songName {
    white-space: nowrap;
    overflow: hidden;
    width: 40vw;
    position: relative;
    font-size: 6vw;
    margin-bottom: 1vw;
  }

  .songCard {
    padding: 4vw;
    width: fit-content;
    background-color: #252525;
    border-radius: 4vw;
  }

  .songName::after {
    content: "";
    height: 100%;
    width: 40%;
    right: 0;
    top: 0;
    background-image: linear-gradient(to left, #252525 25%, transparent);
    position: absolute;
  }

  .cardImage {
    height: 40vw;
    width: 40vw;
    border-radius: 4vw;
  }

  .songcontainer1 {
    overflow: auto;
    gap: 4vw;
    height: fit-content;
  }

  .mainwindow h3:nth-child(1) {
    padding-top: 8vh;
    padding-left: 1.5vw;
  }

  .mainwindow h3 {
    font-size: 6vw;
  }

  .mainwindow .songcontainer1:last-child {
    margin-bottom: 17vh;
  }

  .songDescription {
    height: 6vw;
    width: 40vw;
    font-size: 4vw;
    margin-top: 0;
    /* overflow: scroll; */
    white-space: nowrap;
    background-color: #00752b00;
    /* animation:scroll linear 5s infinite forwards ;  */
  }

  

  .songDescriptionCont {
    position: relative;
  }
  

  .songDescriptionContbefore::after {
    content: "";
    right: -20%;
    top: 0;
    background-image: linear-gradient(to left, #252525 60%, transparent);
    height: 100%;
    width: 40%;
    position: absolute;
    z-index: 1;
  }

  #collapsedSong {
    display: initial;
    margin-bottom: 0;
  }
  #cardplayicon {
    opacity: 1;
    font-size: 9vw;
    z-index: 2;
    font-variation-settings: "FILL"1, "wght"200, "GRAD"0, "opsz"24;
  }

  .musicBar {
    opacity: 0;
    width: 94vw;
    position: static;
    border-radius: 1vh;
    backdrop-filter: blur(12px);
    box-sizing: border-box;
    box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.144);
    overflow: hidden;
    transition:opacity 0.5s ease ;
  }

  .currentSong {
    width: 100%;
    padding-left: 2%;

    gap: 2vw;
  }

  .currentSong img {
    width: 17vw;
    height: 17vw;
    object-fit: cover;
  }

  .currentMusic-Player {
    font-size: 5vw;
    font-weight: 600;
  }

  .mainControls {
    display: none;
  }

  #controlicon-play {
    display: initial;
    font-variation-settings: "FILL"1, "wght"300, "GRAD"0, "opsz"24;
    color: white;
    font-size: 11vw;
    height: fit-content;
    padding: 0;
    box-sizing: content-box;
  }

  #likeicon {
    font-size: 8vw;
    margin-left: 8vw;
  }

  .currentMusic-Player p {
    font-size: 3.5vw;
    white-space: nowrap;
    animation: scroll 0s linear 5s infinite forwards;
  }

  .currentMusic-Player div {
    width: 40vw;

    overflow: hidden;
    position: relative;
  }

  .currentMusic-Player div::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 10%;
    background: linear-gradient(to left, var(--colorForBefore) 1%, transparent);
    z-index: 1;
  }

  .wrapperForMusicBar {
    width: 100vw;

    position: fixed;
    z-index: 4;
    bottom: 2vh;
    height: 11vh;
    display: flex;

    justify-content: center;
    overflow: hidden;
  }

  #crrSongNameInPTag {
    font-size: 5vw;
    font-weight: 800;
    color: white;
  }

  #barsCurrentSong {
    height: 6vw;
    gap: 1vw;
    display: flex;
  }

  #bars__itemCurrentSong {
    width: 0.8vw;
  }

  .sideControls {
    display: none;
  }

  .headerForPlayer {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 10vw;
    margin-bottom: 8vw;
  }

  .title {
    width: 75%;
  }

  .title p {
    white-space: nowrap;
    color: white;
    text-align: center;
    font-weight: 400;
  }

  .headerForPlayer span {
    font-size: 8vw;
    font-weight: 500;
  }

  .headerForPlayer span:nth-child(3) {
    font-size: 7vw;
    font-variation-settings: "FILL"1, "wght"300, "GRAD"0, "opsz"24;
  }

  #controlicon-play {
    transition: 0.01s;
  }

  #controlicon-play:active {
    scale: 1.02;
  }

  .loadingElMainwindowCardCont {
    justify-content: center;
    overflow: scroll;
    width: 100vw;
    gap: 4vw;
    padding-left: 4vw;
  }

  .loadingElMainwindowCardCont div:nth-child(6) {
    margin-bottom: 0;
  }

  .loadingElMainwindowCardCont div {
    height: 50vw;
    border-radius: 4vw;
    width: 50vw;
    flex-shrink: 0;
  }

  .loadingElMainwindowCardCont::-webkit-scrollbar {
    display: none;
  }

  .loadingElSidebar1::before {
    top: -26px;
    left: -90%;
    height: 500%;
    width: 100%;
    transform: rotateZ(296deg);
  }

  .loadingElSidebar2::before {
    top: -51px;
    left: -90%;
    height: 340%;
    width: 90%;
    transform: rotateZ(-66deg);
  }

  .loadingMusicbarEl::after {
    height: 49%;
    width: 213%;
    transform: rotateZ(294deg);
  }

  .loadingElMusicbar div:nth-last-child(2)::after {
    height: 327%;

  }

  .loadingElSidebar1 {
    border-radius: 10vw;
  }

  .loadingElSidebar2 {
    border-radius: 10vw;
  }

  .loadingElMainwindow {
    border-radius: 10vw;
  }

  .loadingMusicbarEl {
    border-radius: 4vw;
  }

  #loadingMusicBar {
    z-index: 5;
  }

  .musicBar #controlicon-play {
    position: relative;
    z-index: 4;
  }
  .nowPlayingVeiw{
    z-index:5;
    width:100vw;
    font-size:4vw;
    padding:0;
    overflow-y: scroll;
  }
  .nowplayingHeader{
   
    padding:3vh 5vw;
    padding-top:20vw;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 40px 80px -8px;
    background-color:#171717;
    position: sticky;
    top:0;
    z-index:1;
  }
  .nowPlayingVeiw::-webkit-scrollbar{
    display: none;
  }
  #nowPlayingClose{
    font-size:7vw;
  }
  .nowPlayingVeiw img {
    height:80vw;
    width:80vw;
    margin:0 10vw;
    border-radius:5vw;
  }
  .inQueueSongs img{
     height:20vw;
     width:20vw;
     padding:0;
     margin:0;
     border-radius: 3vw;
     background-size: 20% 20%;}
  .inQueueSongs {
     height:fit-content;
    
  }
  .nowPlayingSongName{
    font-size:6vw;  
    padding-left:10vw;
  }
  .nowPlayingSongArtist{
    font-size:3.5vw;
    padding-left:10vw;
  }
  .inQueueSong1{
    width: 80vw;
    margin:2vh auto;
    border-radius: 4vw;
    padding:4vw;
    gap:4vw;
    border: 4px solid rgba(128, 128, 128, 0.329);
  }
  .queueSongName{
    font-size:5vw;
  }
  .queueSongArtist{
    font-size:4vw;
  }
  #nowPlayingPlayIcon{
    font-size:8vw;
  }
  .bars {
    gap: 0.8vw;
    height: 6vw;
   padding-right:2vw;
}
.bars__item{
  width:0.85vw;
}
.inQueueSongs{
  margin-bottom:3vh;
}
.nextInQueue{
  padding-left:6vw;
}


/* <<--styling for mobile sidebar-->> */

#charts{
  padding-top:0;
  margin-top:0;

}
.wrapperForHeader{
  margin-top:2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 3vmin;
}
#hamburger{
  font-size:8vw;
  color:white;
}
.sidebar{
  display: initial;
  position: absolute;
  z-index:6;
  width:100vw;
  height:100vh;
  transform: translate(-100%,0);
 transition: transform 0.6s cubic-bezier(1, 0.07, 0, 1.02);

}
.defaultlistings{
  height:82vh;
}
#libraryicon{
  display: none;
}
#homeicon-svg,#searchicons-svg{
  font-size:8vw;
  transition: all .3s ease;

}
.icontext{
  font-size:5vw;
  font-weight:500;
  transition: all .3s ease;
}
#searchicon-text{
  font-weight:500;
}
.logo{
  height:14vw;
  padding:0;
}
.icon{
  padding-left:5vw;
}
#homeicon,#searchicon{
padding-left:5vw;
}
#searchicons-svg2{
  font-size:7vw;
  padding:2vw;
}
#searchtextfeild{
  height:7vw;
  width:60vw;
  padding-top:0;
  font-size:4vw;
  padding:2vw;
  display: initial;

}
form{
  align-items: center;
  border-radius:4vw;
  overflow: hidden;
}
#crossicon-svg{
  font-size:7vw;
  padding:2vw;
}
#searchtextfeild::placeholder{
  padding-top:2vh;
  font-size:4vw;
}
#searchicons-svg2:hover {
  color: rgb(167, 166, 166);
  border-radius: 20vmin;
  background-color: transparent;
}
#searchicons-svg2:active {
  color: white;

}
.mainwindow-cont-wrapper{
  margin-top:9vw;
}

.wrapperForlogo{
padding:3vh 4vw;
display: flex;
justify-content: space-between;
align-items: center;

}
#sideBarCrossIcon{
  font-size:9vw;
  color:white;
  transition: transform cubic-bezier(0, 1.03, 0.61, 1.27) 0.5s;
}
.recenticon-cont{
  display:none;
}
.playlistsideblock1 img{
height:14vw;
border-radius:50vw;
}
.artistsideblock1 img{
  height:14vw;
  width:14vw;
  border-radius:10vw;
}
.defaultlistings{
  height: 55vh;
    padding-bottom: 15vh;
}

.playlistname,.artistname{
  font-size:4.5vw;
}
.thumbnaillabel{
  font-size:3.8vw;
  margin-top:0;
}
.artistsideblock1{
  padding-top:1.5vh;
  gap:3.6vw;
}

.playlistsideblock1{
  padding-top:1.5vh;
  gap:3.6vw;
}
.defaultlistings:hover::-webkit-scrollbar{
  display: none;
}
*:hover::-webkit-scrollbar{
  display:none;
}
*::-webkit-scrollbar{
  display:none;
}
.failedtosearch {
  justify-content: flex-start;
  padding-top:2vh;
}
.failedtosearch h3{
  font-size:7vw;
  padding:0 4vw;
}
.failedtosearch p{
  font-size:4vw;
  padding:0 2vw;
  margin-bottom:0;
}
.songCard:hover{
  background-color:#252525 ;
}
.songCard:active {
  background-color: #333333;
}

.songCard:active>.songName::after {
  background-image: linear-gradient(to left, #333333 25%, transparent);
}
.songCard:active>.songDescriptionContbefore::after {
  background-image: linear-gradient(to left, #333333 50%, transparent);
}
  .songcontainer1{
    gap:6vw;
  }
  #searchicons-svg{
    font-size:6vw;
  
  }
  #searchicon{
    padding-left:6.3vw;
    padding-top:1.5vh;
  }
  
  #mainSearchBar{
    padding: 3vw 0;
    width:50vw;
    font-size:3.8vw;
  }
  #mainSearchBar::placeholder{
    
    font-size:3.8vw;
  }

  #mainSearchCancelBtn{
    padding: 2.6vw;
    font-size:5.2vw;
  }
  #mainSearchBtn{
    padding: 3.2vw;
    font-size:4vw;
  }
  .defaultCardRows{
    justify-content: center;
    gap:3vw;
    margin-top:3vw;
  }
  .defaultCard{
    height:30vw;
    width:45vw;
    border-radius: 4vw;
  }
  .defaultCard-img{
    height: 20vw;
    width: 20vw;
    top: 41%;
    right: -6%;

    
  }
  .defaultCard-label{
    font-size:5vw;
    margin:2vw;
  }
  .result-songDur {
    font-size: calc(6vw/1.689);
margin-right: 0;
width: 40%;
text-align: right;
}
.searchSongImgCont{
  aspect-ratio: 1;
  height:15vw;
  width:15vw;
}
.search-songCard{
  height:17vw;
}
.contForSongDetails{
  width:60%;
  gap:2vw;
}
.search-songCardAlbum{
  width:30%;
}
/* .search-songCardText{

} */
.result-songName{
  font-size:5vw;
  white-space: nowrap;
  width: fit-content;
  
}
.result-songNameWrapper{
  overflow: hidden;
  width:35vw;
  position: relative;
}
.result-songNameWrapperOnScrolling::before{
  position:absolute;
  content:" ";
  top:0;
  right:0;
  height: 100%;
  width:25%;
  z-index:2;
  background-image:linear-gradient(to left, hsl(0 0% 10% / 1) 10%, transparent);
}
.result-songNameWrapperOnScrollingSel::before{
  background-image: linear-gradient(to left, hsl(0 4% 15% / 1) 10%, transparent);

}

.result-songArtists {
  font-size: calc(5vw/1.689);
  width:125%;
}
.search-songCardAlbum {
  display: none;
}
.search-songCard{
  margin: 3vw auto;
  width: 83%;
padding: 3vw;
border-color: rgba(255, 255, 255, 0.281);
border-radius: 4.5vw;
}
.labelsForResultsCont{
  display: none;
}
.mainwindow-search-results{position: relative;}
.mainwindow-search-resultsEnableBef::before{
position: sticky;
content: "";
top:-1px;
display: block;
left:0;
z-index:2;
height:10%;
width:100%;
background-image: linear-gradient(to bottom,#1F1F1F 10%, transparent);
}
}

.defaultlistings::before {
  content: "";
  width: 100%;
  height:10%;
  box-shadow:inset 0 0 40px -5px rgba(255, 0, 0, 0);
  background: linear-gradient(to bottom,#121212,transparent);
  position: sticky;
  display: none;
  top:-1%;
}
.displayForBefore::before{
  display: block;
}
/*<--Scrollbar Styling bellow-->*/

::-webkit-scrollbar {
  width: 10px;

  position: absolute;
  z-index: 4;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  background-color: #8888884b;

  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #15ff5b;
}

.defaultlistings::-webkit-scrollbar {
  width: 10px;

  display: none;
  position: absolute;
  z-index: 4;
}

.defaultlistings:hover::-webkit-scrollbar {
  display: initial;
}




